*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary: #ED661F;
    
}
header{
    background: #000;
    width: 100vw;
    height: 10vh;
}
nav{
    display: flex;
    color: #fff;
    height: 100%;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
    text-align: center;
    align-items: center;
}
nav .banner{
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif ;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
li{
    padding: 0 20px;
}
li a{
    /* border-bottom: 5px solid var(--primary); */
    text-decoration: none;
    position: relative;
    color: #fff;
    padding: 5px;
}

li a::after{
    content: "";
    border-bottom: 4px solid var(--primary);
    bottom: 0;
    transform: scaleX(0);
    left: 0;
    width: 100%;
    position: absolute;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}
li a.active::after{
    content: "";
    border-bottom: 4px solid var(--primary);
    bottom: 0;
    transform: scaleX(1);
    left: 0;
    width: 100%;
    position: absolute;
}
li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
button{
    background: var(--primary);
    border: none;
    color: #fff;
    /* font-weight: 500; */
    font-size: 1.1rem;
    padding: 10px;
    cursor: pointer;
    transition: all ease-in;
}
button:hover{
    box-shadow: 2px 2px 5px var(--primary);
}
.navcta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navcta > button:first-child{
    margin-right: 30px;
    background: transparent;
}
.hero{
    background-image: url("../images/image\ 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.content{
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; 
}
.tagline h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.tagline p{
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.tagline button{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    padding: 20px;
}
.flexContainer{
    display: flex;
    height: 100%;
    width: 90vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.stats{
    position: absolute;
    display: flex;
    bottom: 0;
    transform: translateY(50%);
    background: #fff;
    padding: 30px;
    right: 10%;
    box-shadow: 0 1px 5px #000;
}
.stats div{
    color: #000;
    padding: 10px;
    text-align: center;
}
.about{
    width: 80vw;
    justify-content: space-between;
    margin: 100px auto 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
}
.about div:first-child{
    margin-right: 100px;
}
.about h2, .mostPopular h2, .newest h2{
    padding: 5px 0;
    position: relative;
    margin-bottom: 10px;
}
.about h2::after, .mostPopular h2::after, .newest h2::after, .testimonials h2::after{
    content: "";
    position: absolute;
    bottom: 0;left: 0;
    height: 2px;
    width: 10%;
    border-bottom: 5px solid var(--primary);
}
.about p{
    padding-right: 30px;
}
.products{
    margin: 50px auto;
    width: 80vw;
}
.products .headline {
    text-align: center;
}
.headline h2{
    padding: 10px 0;
    position: relative;
    margin-bottom: 20px;
}
.headline h2::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 5%;
    margin-left: 46%;
    border-bottom: 5px solid var(--primary);
}
.mostPopular h2, .newest h2{
    margin-top: 20px;
}
.cards{
    font-size: 95%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.card img{
    width: 100%;
    height: auto;
}
.card{
    margin: 0 20px;
    transition: all ease-in-out .2s;
}
.card:nth-child(1){
    margin-left: 0;
}
.card:nth-child(4){
    margin-right: 0;
}
.card p{
    margin: 5px 0;
}
.card p, .card h4, .card h5{
    padding: 0 10px 10px;
}
.mostPopular {
    margin-bottom: 50px;
}
.newest{
    margin: 50px auto;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px var(--primary);
    cursor: pointer;
}
.fa-solid{
    color: var(--primary);
}
.more  {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}
.more h3{
    padding: 0 20px 10px 0;
    position: relative;
}
.more h3::after{
    position: absolute;
    content: "";
    bottom: 0;
    transform: scaleX(0);
    left: 0;
    height: 2px;
    width: 60%;
    border-bottom: 5px solid var(--primary);
    transition: transform 0.2s ease-out;
}
.more h3:hover:after{
    transform: scaleX(1);
}
.separator{
    width: 100%;
    height: 20px;
    box-shadow: inset 0 5px 10px #333;
    margin-bottom: 90px
}
.testimonials{
    width: 80vw;
    margin: 20px auto;
}
.testimonials h2{
    position: relative;
    padding-bottom: 5px;
}
.fa-star{
    color: var(--primary);
}
.users{
    display: flex;
    justify-content: space-between;
}
.stars{
    display: flex;
    width: auto;
}
.users{
    margin: 50px auto;   
}
.profile{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    align-items: center;
}
.usertestimonial{
    padding: 20px;
    margin: 0 40px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
}
.usertestimonial:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}
.usertestimonial h4{
    font-size: 1.5rem;
    padding: 30px 0;
}
.usertestimonial img{
    height: 50px;
    width: 50px;
}
.unchecked{
    color: #aaa;
}
.fa-star{
    padding: 3px;
}